<div class="chat-container">
  <div class="messages">
    <div *ngFor="let message of messages" [class.mine]="isMyMessage(message)">
      <strong>{{ message.firstname + ' ' + message.name }} :</strong>
      <div>{{ message.text }}</div>
      <span class="timestamp">{{ formatTime(message.created_at) }}</span>
    </div>
  </div>

  <form (ngSubmit)="sendMessage()">
    <input type="text" [(ngModel)]="newMessage" name="message" placeholder="Votre message..." required>
    <button type="submit">Envoyer</button>
  </form>
</div>