<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <div class="header">
    <h1>Se connecter</h1>
  </div>
  <form class="login-form" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="submit()" class="form-container">
    <span>E-mail</span>
    <input formControlName="email">
    <span>Mot de passe</span>
    <input type="password" formControlName="password">
    <div fxLayout="row" fxLayoutAlign="center center" class="form-button">
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </div>
    <p *ngIf="onError" class="error">Une erreur s'est produite</p>
  </form>
</div>